* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.nav-bar{
  display: flex;  
  justify-content: space-between;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 24px;
}
.nav-links {
  display: flex;
  gap: 40px;
}
.nav-links a{
  color: #676770;
  font-size: 16px ;
  font-weight: 400;
}
.nav-links a:hover{
  color: #69B9FF;
}

.nav-bar h2{
  color: #69B9FF;
  font-size:25px ;
  font-weight: 400;
  letter-spacing: 4px;
}
.nav-section{
  height: 100%;
  max-height: 594px;
  background-image: url('./img/backraund-img-header.png');
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
}

.nav-sevtion-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 106px;
  padding-top: 184px;
  padding-bottom: 200px;
}
.nav-sevtion-container h1{
  color: white;
  font-size: 59px;
  font-weight: 400;
  letter-spacing: 4px;
}
.header-buttons{
  display: flex;
  gap: 20px;
}
.sign-btn{
  color: white;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 11px 30px;
  background-color: #69B9FF;
  border-radius: 5px;
}
.learn-btn{
  color: white;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 11px 30px;
  background: transparent;
  border: 2px solid white;
  border-radius: 5px;
}
.main-section-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px; 
  padding-top: 80px;
  padding-bottom: 60px;
}
.main-section-block h2{
  color: #676770;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 5px;
}
.main-section-cards{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.main-section-items{
  display: flex;  
  flex-direction: column;
  align-items: center;
  text-align:center;
  padding: 36px 16px 24px 16px;
  border: 2px solid #DCEBF7;
  border-radius: 5px;
  margin-bottom: 80px;
}
.main-section-items h2{
  color:#676770;
  font-size: 18px;
  font-weight: 400; 
  letter-spacing: 7px;
  margin-top: 19px;
  margin-bottom: 14px;
}
.main-section-items p{
  color: #6A859C;
  font-size: 14px;
  font-weight: 400; 
  line-height: 25px;
}
.main-section-services{
  background-color: #192024;
  padding: 80px 0;
}
.service-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  margin-bottom: 60px;
}
.service-text h2{
  color: white;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 5px;
}
 h3{
  color: #8E8E9C;
  font-size: 17px;
  font-weight: 400; 
  letter-spacing: 3px;
} 
.service-cards{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.service-items{ 
  width: 100%;
  max-width: 460px;
  display: flex;  
  flex-direction: column;
  align-items: center;
  text-align:center;
  padding: 15px;
  border-radius: 5px;
}
.service-items h2{
  margin-top: 19px;
  margin-bottom: 23px;
  color: white;
  font-size: 20px;
  font-weight: 400; 
  letter-spacing: 7px;  

}
.service-items p{
  color: white;
  max-width: 360px;
  text-align: center;
  font-size: 14px;
  font-weight: 400; 
  line-height: 25px;
  margin-bottom: 33px;
}
.tab-sectino{
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
}
.tab-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;;
}
.tab-box h2{
  color: #676770;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 5px;
  margin-bottom: 17px;
}
.tab-buttons{
  display: flex;
  gap: 20px;
  margin-top: 72px;
  margin-bottom: 52px;
}
.tab-btn{
  color: white;
  padding: 1px 30px;
  background-color: #92A0AD;
  border-radius: 5px;
}
.tab-btn1{
  color: white;
  padding: 1px 30px;
  background-color:#2E80B6;
  border-radius: 5px;
}
.tab-sectino h2{
  color: #676770;
  font-size: 31px;
  margin-top: 16px;
  margin-bottom: 14px;
  font-weight: 400;
}
.tab-paragraph{
  color: #6A859C;
  font-size: 14px;
  font-weight: 400; 
  line-height: 25px;
  margin: 0 auto;
}
.footer-section{
  display: flex;
  justify-content: center;
}
.velocity-box{
  width: 100%;
  max-width: 320px;
  padding: 10px;
  margin-bottom: 35px;
}
.velocity-box h2{
  color: #676770;
  font-size: 18px;  
  font-weight: 400;
  margin-bottom: 25px;
  letter-spacing: 4px;
}
.velocity-box p{
  font-size: 14px;
  color: #6A859C;
  line-height: 25px;
  font-weight: 400;
}
.useful-links{
  width: 100%;
  max-width: 320px;
  padding: 10px;
}
.useful-links h2{
  color: #676770;
  line-height: 20px;
  letter-spacing: 4px;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 20px;
}
.useful-links p{
  color: #668CAD;
  padding-bottom: 12px;
  padding-top: 8px;
  border-bottom: 2px solid #D5D5E0;
  cursor: pointer;
}
.social-links{
  width: 100%;
  max-width: 320px;
  padding: 10px;
}
.social-links h2{
  color: #676770;
  font-size: 18px;
  font-weight: 400; 
  letter-spacing: 4px;
  margin-bottom: 20px;
}
.social-icons{
  display: flex;
  gap: 10px;
}
.social-icons p{
  cursor: pointer;
  width: 100%;
  color: #668CAD;
  padding-bottom: 12px;
  padding-top: 8px;
  border-bottom: 2px solid #D5D5E0;
}
.social-icons img{
  cursor: pointer;
}
.footer-copyright{
 background-color: #383838;
  text-align: center;
 padding: 40px 0;
}
.footer-copyright P{
  color: #9E9E9E;
  font-size: 15px;
  font-weight: 400;
}